
<div class="container-width-full">
    <table class="table">
        <tbody>
            <tr *ngFor="let reflection of reflections$ | async">
                <td>
                    <div>
                        <a [routerLink]="['/reflections', reflection._id]" class="reflection-title">
                            {{ reflection.title }}
                        </a>
                        <p class="reflection-date">
                            {{ reflection.createdAt | date: 'MMM d, y, h:mm a' }}
                        </p>
                    </div>
                    
                </td>
                <td>
                    {{ reflection.text }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
