
<div class="container-width-full">
    <table class="table" *ngIf="reflections; else loadingReflections">
        <tbody>
            <tr *ngFor="let reflection of reflections">
                <td>
                    <div>
                        <a [routerLink]="['/reflections', reflection._id]" class="reflection-title">
                            {{ reflection.title }}
                        </a>
                        <!-- <a routerLink="/reflections/{{reflection._id}}" class="reflection-title">
                            {{ reflection.title }}
                        </a> -->
                        <p class="reflection-date">
                            {{ reflection.createdAt | date: 'MMM d, y, h:mm a' }}
                        </p>
                    </div>
                    
                </td>
                <td>
                    {{ reflection.text }}
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #loadingReflections>
        <div>Loading reflections...</div>
    </ng-template>
</div>