<h2>{{ pageTitle }}</h2>

<div class="container-width-full">
    <table class="table">
        <tbody>
            <tr *ngFor="let journalEntry of journalEntries">
                <td>
                    <div>
                        <p class="journal-title">{{ journalEntry.title }}</p>
                        <p>{{ journalEntry.createdAt | date: 'MMM d, y, h:mm a' }}</p>
                    </div>
                    
                </td>
                <td>
                    {{ journalEntry.text }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
