
<div class="container-width-full">
    <table class="table">
        <tbody>
            <tr *ngFor="let journalEntry of journalEntries$ | async">
                <td>
                    <div>
                        <p class="journal-title">
                            {{ journalEntry.title }}
                        </p>
                        <p class="journal-date">
                            {{ journalEntry.createdAt | date: 'MMM d, y, h:mm a' }}
                        </p>
                    </div>
                    
                </td>
                <td>
                    {{ journalEntry.text }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
