

<div class="container-width-full">
    <form class="new-entry-form" [formGroup]="newEntryForm" autocomplete="off">
        <div class="form-group">
          <label for="password">New Entry</label>
          <div class="input-group">
            <textarea class="form-control span6" rows="10" placeholder="Whats up?"></textarea>
          </div>
        </div>=
        <button type="submit" class="btn btn-outline-success mr-sm-2" (click)="submit()">
          Save
        </button>
        <button type="submit" class="btn btn-outline-success" (click)="cancel()">
          Cancel
        </button>=
    </form>
</div>
  