<div class="container-width-full">
    <form class="new-reflection-form" id="create-reflection-form" [formGroup]="newReflectionForm" autocomplete="off">
        <div class="form-group">
          <label for="title">Title</label>
          <br />
          <input 
            id="title"
            type="text"
            formControlName="title"
          />
        </div>
        <div class="form-group">
          <label for="text">Content</label>
          <div class="input-group">
            <textarea 
              id="text" 
              formControlName="text" 
              class="form-control span6" 
              rows="10" 
              placeholder="What's on your mind?"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-success mr-sm-2" (click)="submit()">
          Save
        </button>
        <a [routerLink]="['/reflections']">
          <button class="btn btn-outline-success">
            Cancel
          </button>
        </a>
    </form>
</div>
  