

<div class="container-width-full">
    <form class="new-reflection-form" [formGroup]="newReflectionForm" autocomplete="off">
        <div class="form-group">
          <label>New Reflection</label>
          <div class="input-group">
            <textarea id="reflection" class="form-control span6" rows="10" placeholder="What's on your mind?"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-success mr-sm-2" (click)="submit()">
          Save
        </button>
        <button type="submit" class="btn btn-outline-success" (click)="cancel()">
          Cancel
        </button>
    </form>
</div>
  